*{
    margin: 0;
    padding: 0;
}

.btn-game{
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.btn-bottom{
    display: flex;
    justify-content: center;
}

.btn-restart{
    background-color: 	#0F9D58;
    padding: 10px;
    border-radius: 5px;
    border: transparent;
    margin-top: 10px;
    font-size: 1rem;
}

